@use '../base/variables' as var;

.header {
  color: var.$color-white;
  background-color: var.$color-bg-dark;

  .header-container {
    max-width: 1440px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include var.respond(sm) {
      width: 420px;
      height: 90px;
    }

    @include var.respond(md) {
      width: 768px;
      height: 110px;
    }

    @include var.respond(lg) {
      max-width: 1024px;
      height: 130px;
    }
  }
}

.nav {
  flex-grow: 1;
  max-width: 775px;
  font-size: var.$font-size-sm;
  font-family: var.$font-primary;
  font-weight: 100;
  letter-spacing: 2px;

  &__list {
    list-style: none;
    display: flex;
    gap: 55px;
  }

  &__link {
    text-decoration: none;
    color: var.$color-white;
    @include var.transition;

    &:hover {
      color: var.$color-font-gold;
    }
  }

  @include var.respond(lg) {
    display: none;
  }
}

.menu-nav {
  display: none;

  @include var.respond(lg) {
    display: block;
  }
}

.logo {
  flex-shrink: 0;
  background-image: url(../assets/svg/logo.svg);
  width: 199px;
  height: 33px;
  @include var.transition;

  &:hover {
    filter: brightness(0.6);
  }
}
