@use '../base/variables' as var;

.contacts-content {
  display: flex;
  gap: 200px;

  @include var.respond(lg) {
    gap: 0px;
    margin-top: -5px;
  }

  @include var.respond(md) {
    flex-direction: column;
    margin-top: 0;
    gap: 35px;
    margin-bottom: 26px;
  }

  @include var.respond(sm) {
    margin-bottom: 0;
  }

  .contacts-box {
    width: 282px;

    .contacts__list {
      margin-top: 50px;
      list-style: none;
      font-weight: 300;
      font-size: var.$font-size-sm;
      display: flex;
      flex-direction: column;
      gap: 23px;

      @include var.respond(lg) {
        font-size: 20px;
        margin-top: 32px;
        gap: 10px;
      }
      @include var.respond(md) {
        font-size: var.$font-size-xs;
        margin-top: 35px;
        gap: 9px;
      }

      @include var.respond(sm) {
        font-size: 16px;
      }

      .contacts__item a {
        color: inherit;
        text-decoration: none;
        @include var.transition;
        &:hover {
          color: var.$color-font-gold;
        }
      }
    }
  }

  .contacts-map {
    background-image: url(../assets/img/map.png);
    width: 960px;
    height: 620px;

    @include var.respond(lg) {
      width: 694px;
      height: 454px;
      object-fit: cover;
      background-position: 100% 0%;
    }
    @include var.respond(md) {
      width: 100%;
      height: 476px;
    }
    @include var.respond(sm) {
      width: 100%;
      height: 248px;
      background-position: 50% 50%;
    }
  }
}
