@use '../base/variables' as var;

.tickets-popup {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.93);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  @include var.transition;
  padding: 20px 40px;
  overflow: hidden;
  transform: translate(0);

  &--hiden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translate(-100%);
  }

  &__content {
    position: relative;

    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    background-color: var.$color-white;
    // background-color: rgba(255, 255, 255, 0.1);
    overflow-y: auto;
    /* position: relative;
    max-height: 100%;
    overflow-y: auto; */
    flex-wrap: wrap;
    max-height: calc(100vh - 40px);
    margin: 0 auto;
    display: flex;
    box-shadow: 0px 3px 20px rgba(var.$color-black, 0.4);
    padding: 40px;
    justify-content: flex-start;
    gap: 40px;

    color: var.$color-bg-dark;

    font-family: var.$font-primary;
    font-size: var.$font-size-xs;
    font-weight: 400;
    line-height: 100%;
  }

  &__btn-close {
    color: var.$color-bg-dark;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    font-size: 40px;
    cursor: pointer;
    line-height: 0.6;
    @include var.transition;

    &:hover {
      color: var.$color-font-gold;
    }
  }

  &__left {
    width: 400px;
    flex: 1 1 0;
  }

  &__right {
    width: 530px;
    border: 1px solid var.$color-bg-dark;
    padding: 25px 30px;
  }

  &__heading {
    color: var.$color-font-gold;
    font-family: var.$font-secondary;
    font-size: 50px;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__form-name {
    color: var.$color-dark-red;
    font-family: var.$font-primary;
    font-size: var.$font-size-xs;
    font-weight: 400;
    line-height: 100%;
    position: relative;
    margin-bottom: 75px;

    &::after {
      content: '';
      position: absolute;
      bottom: -15px;
      left: 0;
      right: 0;
      height: 3px;
      background-color: var.$color-dark-red;
    }
  }

  &__logo {
    width: 85px;
    height: 41px;
  }

  /* FORM */

  .form {
    &__group {
      margin-bottom: 18px;
      position: relative;
      display: block;

      &--half {
        display: flex;
        justify-content: space-between;
      }
    }

    &__input {
      width: 100%;
      font-size: var.$font-size-xs;
      color: var.$color-bg-dark;
      line-height: 100%;
      font-weight: 400;
      font-family: var.$font-primary;
      padding: 11px 15px 11px 44px;
      border-radius: 0;
      border: 1px solid var.$color-bg-dark;

      &::placeholder {
        color: var.$color-bg-dark;
        font-size: var.$font-size-xs;
        font-weight: 400;
        line-height: 100%;
      }

      &-icon {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
      }

      &--half {
        width: 47.5%;
      }

      &[name='visit-time'] {
        padding-top: 9px;
        padding-bottom: 9px;
      }
    }
  }

  .tickets-entry-box {
    padding: 10px 15px;
    border: 1px solid var.$color-bg-dark;

    &--heading {
      color: var.$color-font-gold;
      font-family: var.$font-secondary;
      font-size: var.$font-size-xs;
      font-weight: 400;
      line-height: 100%;
      text-transform: capitalize;
      position: relative;
      margin-bottom: 24px;

      &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: var.$color-dark-red;
      }
    }

    .ticket-type-choice {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      align-items: center;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  /* COUNTER TICKETS */
  &__number {
    display: flex;
    border: 1px solid var.$color-bg-dark;

    &-btn {
      color: var.$color-white;
      background-color: var.$color-bg-dark;
      width: 35px;
      height: 25px;
      border: none;
      appearance: none;
      cursor: pointer;
      box-shadow: none;
      font-size: 20px;
      @include var.transition;

      &:hover {
        background-color: var.$color-font-gold;
      }
    }

    &-input {
      all: unset;
      box-sizing: border-box;
      font-family: var.$font-primary;
      font-size: var.$font-size-xs;
      text-align: center;
      line-height: 25px;
      width: 35px;
      height: 25px;
      padding-right: 1px;
    }

    &-input::-webkit-outer-spin-button,
    &-input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &-input[type='number'] {
      -moz-appearance: textfield;
    }
  }

  /* RIGHT INNER*/

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__review {
    position: relative;
    margin-bottom: 30px;

    & h3 {
      color: #272727;
      font-size: var.$font-size-lg;
      font-weight: 500;
      line-height: 100%;
      margin-bottom: 5px;
    }

    & p {
      font-weight: 300;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }

      & span {
        margin-right: 10px;
      }
    }

    &-subheading {
      color: #740c11;
      font-size: var.$font-size-sm;
      font-weight: 500 !important;
      line-height: 100%;
      margin-bottom: 15px !important;
    }
  }
  &__review-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 120px;
  }

  .bill-box {
    font-size: var.$font-size-sm;
    margin-bottom: 20px;
    &__ticket-type {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      align-items: flex-end;
      position: relative;

      &:nth-last-of-type(2) {
        margin-bottom: 35px;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: -15px;
          height: 2px;
          background-color: #740c11;
        }
      }

      & p {
        display: flex;
        align-items: end;
        gap: 10px;
      }

      .amount-tickets {
        font-size: var.$font-size-xs;
        color: #a4a4a3;
        background-color: var.$color-bg-dark;
        width: 32px;
        height: 20px;
        display: inline-block;
        text-align: center;
        border-radius: 5px;
      }
    }

    .total-bill {
      display: flex;
      justify-content: space-between;
      font-size: var.$font-size-lg;
      font-weight: 400;
    }
  }

  /* CARDS */

  &__cards-box {
    position: relative;
  }

  &__card {
    &--front {
      width: 360px;
      height: 211px;
      background: linear-gradient(
        to right bottom,
        rgb(147, 147, 147) 0%,
        rgba(188, 188, 188, 1) 100%
      );
      padding: 15px 20px;
      border-radius: 4px;
      z-index: 111;
      box-shadow: 0px 1px 20px rgba(var.$color-black, 0.1);
      margin-bottom: 56px;
      position: relative;
    }

    &--back {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .card-secure-info {
        margin-right: 20px;
        width: 75px;
        display: flex;
        flex-direction: column;

        & .cards-form__input {
          height: 35px;
          margin-bottom: 4px;
          padding: 10px;
          width: 100%;
          font-family: var.$font-primary;
          font-size: 12px;
          font-weight: 400;
          border: none;
        }

        & .cards-form__label {
          color: #161615;
          font-size: 12px;
          text-align: center;
          margin-bottom: 4px;
        }

        &__hint {
          margin-left: 10px;
          color: #161615;
          font-size: 10px;
          font-weight: 400;
          line-height: 120%;
          width: 55px;
        }
      }
    }

    &--visa {
      position: absolute;
      top: 34px;
      right: 22px;
      width: 55px;
      height: 16px;
    }
    &--mastercard {
      position: absolute;
      top: 66px;
      right: 21px;
      width: 53px;
      height: 32px;
    }

    &--line-decoration {
      margin-top: 26px;
      width: 360px;
      height: 45px;
      background: #161615;
      margin-bottom: 12px;
    }
  }
  &__card--back {
    z-index: 1;
    position: absolute;
    top: 30px;
    right: 0;
    width: 360px;
    height: 211px;
    background: rgb(147, 147, 147);

    border-radius: 4px;
  }

  .cards-form__group {
    width: 215px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &--cardholder {
      width: 100%;
    }
    .cards-form__label {
      display: block;
      color: #161615;
      font-family: var.$font-primary;
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 2px;
    }

    &-date-inputs {
      display: flex;
      justify-content: space-between;
    }

    .cards-form__input {
      padding: 10px;
      width: 100%;
      font-family: var.$font-primary;
      font-size: 12px;
      font-weight: 400;
      border: none;

      &::placeholder {
        color: #161615;
      }

      &--half {
        width: 46.5%;
      }
    }
  }

  &__btn {
    background-color: #710707;
    color: var.$color-white;
    width: 220px;
    height: 45px;
    font-family: var.$font-primary;
    font-size: var.$font-size-sm;
    font-weight: 400;
    border: none;
    @include var.transition;
    cursor: pointer;
    margin-left: auto;

    &:hover {
      background-color: var.$color-font-gold;
    }
  }
}
