@use '../base/variables' as var;

.tickets-img {
  width: 50%;
  display: block;

  @include var.respond(lg) {
    width: 71%;
    height: 440px;
    object-fit: cover;
  }

  @include var.respond(md) {
    width: 61.04%;
    height: 340px;
    object-fit: cover;
  }

  @include var.respond(sm) {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
}

/* TYPE */

.tickets-type {
  margin-top: 2px;
  margin-right: 14%;

  @include var.respond(lg) {
    display: none;
  }

  .select-type {
    margin-top: 50px;

    .select {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: var.$font-size-sm;
      margin-bottom: 24px;
      cursor: pointer;
      user-select: none;

      input {
        display: none;
      }

      .checkmark {
        margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        border: 2px solid var.$color-black;
        background: #eee;
        flex-shrink: 0;

        &::after {
          content: '';
          width: 9px;
          height: 9px;
          border-radius: 50%;
          background: var.$color-black;
          display: none;
        }
      }

      input:checked + .checkmark::after {
        display: block;
      }

      &:hover .checkmark {
        background-color: #ccc;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/* BUY */
.tickets-buy {
  margin-top: 2px;
  width: 150px;

  @include var.respond(lg) {
    width: 18%;
  }

  @include var.respond(md) {
    width: 24%;
  }
  @include var.respond(md) {
    width: 175px;
  }

  &__box {
    margin-top: 27px;

    @include var.respond(md) {
      margin-top: 40px;
    }

    @include var.respond(sm) {
      margin-top: 20px;
    }
  }

  &__text {
    font-family: var.$font-primary;
    font-weight: 300;
    font-size: var.$font-size-sm;
    margin-bottom: 15px;

    @include var.respond(md) {
      margin-bottom: 8px;
    }

    @include var.respond(sm) {
      font-size: 16px;
    }
  }

  &__number {
    border: 3px solid var.$color-black;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-bottom: 10px;

    @include var.respond(lg) {
      gap: 29px;
      margin-bottom: 25px;
    }

    @include var.respond(sm) {
      margin-bottom: 17px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__btn {
    border: none;
    background-color: transparent;
    text-align: center;
    font-family: var.$font-primary;
    font-size: var.$font-size-lg;
    font-weight: 400;
    cursor: pointer;
    @include var.transition;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var.$color-font-gold;
      }
    }
  }

  &__input {
    all: unset;
    margin-left: 9%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: var.$font-size-sm;
    font-weight: 300;

    @include var.respond(lg) {
      margin-left: 0;
    }
  }

  &__total {
    letter-spacing: 1.6px;
    margin: 50px 0 60px 0;

    @include var.respond(lg) {
      margin: 20px 0 74px 0;
    }

    @include var.respond(md) {
      margin: 41px 0 44px 0;
    }

    @include var.respond(sm) {
      text-align: center;
      letter-spacing: 0;
      margin-bottom: 42px;
    }
  }

  .btn-buy {
    cursor: pointer;
    border: none;
    transform: translateX(-(175px - 150px));
    background-color: var.$color-black;
    color: var.$color-white;
    font-size: var.$font-size-sm;
    font-weight: 300;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 50px;
    letter-spacing: 2px;
    @include var.transition;
    &:hover {
      background-color: var.$color-font-gold;
    }

    @include var.respond(lg) {
      transform: none;
      width: 100%;
    }

    @include var.respond(sm) {
      font-size: 16px;
    }
  }

  .u-text-align-end {
    @include var.respond(lg) {
      text-align: start;
    }

    @include var.respond(sm) {
      text-align: center;
    }
  }
}
