@use '../base/variables' as var;

.view-window {
  position: relative;
}

.video-element {
  display: block;
  width: 100%;
  height: 650px;
  object-fit: cover;
  object-position: right 37%;

  @include var.respond(lg) {
    height: 444px;
  }

  @include var.respond(md) {
    height: 329px;
  }
  @include var.respond(sm) {
    height: 172px;
  }
}

.player-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  @include var.transition;

  &--big {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 220px;
    border-radius: 50%;

    @include var.respond(lg) {
      width: 152px;
      height: 152px;
    }
    @include var.respond(md) {
      width: 80px;
      height: 80px;
    }
    @include var.respond(sm) {
      width: 50px;
      height: 50px;
    }
  }

  &--small {
    width: 23px;
    height: 31px;
    order: 0;

    @include var.respond(sm) {
      width: 14px;
      height: 18px;
    }
  }

  &__volume-icon {
    width: 38px;
    height: 31px;
    order: 2;

    @include var.respond(lg) {
      width: 26px;
      height: 20px;
    }

    @include var.respond(md) {
      order: 1;
    }

    @include var.respond(sm) {
      width: 18px;
      height: 14px;
    }
  }

  &__fullscreen-icon {
    width: 35px;
    height: 35px;
    order: 5;

    @include var.respond(lg) {
      width: 26px;
      height: 26px;
    }

    @include var.respond(sm) {
      width: 18px;
      height: 18px;
    }
  }

  &__img {
    width: 100%;
  }

  &:hover {
    filter: brightness(0.7);
  }

  &--extends {
    display: inline-flex;
  }
}

.video-controls {
  padding: 0 5px;
  width: 100%;
  height: 85px;
  background-color: var.$color-black;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include var.respond(lg) {
    height: 60px;
    justify-content: space-evenly;
    padding: 0;
  }
  @include var.respond(md) {
    height: 53px;
  }

  @include var.respond(sm) {
    height: 50px;
    justify-content: space-around;
  }

  .progress-bar {
    cursor: pointer;
    background: linear-gradient(
      to right,
      var.$color-dark-red 0%,
      var.$color-dark-red 54%,
      #c4c4c4 36%,
      #c4c4c4 100%
    );
    border: none;
    height: 8px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;

    @include var.respond(lg) {
      height: 5px;
    }

    @include var.respond(sm) {
      height: 4px;
    }

    &::-webkit-slider-thumb {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      -webkit-appearance: none;

      background: var.$color-white;

      @include var.respond(lg) {
        width: 13px;
        height: 13px;
      }

      @include var.respond(sm) {
        width: 10px;
        height: 10px;
      }
    }

    &--duration {
      width: 929px;
      order: 1;

      @include var.respond(lg) {
        width: 564px;
      }

      @include var.respond(md) {
        order: 2;
        width: 486px;
      }

      @include var.respond(sm) {
        width: 200px;
      }
    }

    &--volume {
      width: 155px;
      order: 4;
      @include var.respond(lg) {
        width: 143px;
      }
      @include var.respond(md) {
        display: none;
      }
      @include var.respond(sm) {
        display: none;
      }
    }
  }
}
