@use '../base/variables' as var;

.video-slider-container {
  overflow: hidden;
  width: 100%;
}

.video-slider {
  display: flex;

  gap: 3%;
  transition: transform 0.5s ease;
  &__item {
    flex: 0 0 31.4%;
    width: 31.4%;
    aspect-ratio: 16/9;
    border: none;
    @include var.respond(lg) {
    }

    @include var.respond(md) {
      flex: 0 0 48.6%;
      width: 48.6%;
    }

    @include var.respond(sm) {
    }
    &--3 {
      @include var.respond(md) {
        display: none;
      }
    }
  }
}
