@use '../base/variables' as var;

.video-slider-container {
  overflow: hidden;
  width: 100%;
}

.video-slider {
  // width: 100%;
  display: flex;
  // justify-content: space-between;
  &__item {
    // width: 100%;
    // height: auto;
    // border: none;
    // max-width: 31.4%;
    // aspect-ratio: 16 / 9;
    flex: 0 0 31.4%; // для больших экранов — 3 в ряд
    aspect-ratio: 16/9;
    border: none;

    @include var.respond(lg) {
      max-width: 30.4%;
    }

    @include var.respond(md) {
      max-width: 48.6%;
    }

    @include var.respond(sm) {
      max-width: 47.3%;
    }
    &--3 {
      @include var.respond(md) {
        display: none;
      }
    }
  }
}
