@use '../base/variables' as var;

.visiting-cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 72px;
  margin-bottom: -3px;

  @include var.respond(sm) {
  }

  @include var.respond(md) {
  }

  @include var.respond(lg) {
    justify-content: space-evenly;
    column-gap: 0;
    row-gap: 55px;
    margin-top: -9px;
  }

  .visiting-card {
    display: block;
    text-decoration: none;
    color: var.$color-black;

    &__img {
      width: 440px;
      height: 285px;
      margin-bottom: 19px;

      @include var.respond(md) {
        width: 280px;
        height: 180px;
      }

      @include var.respond(lg) {
        width: 330px;
        height: 215px;
      }
    }

    &__title {
      font-family: var.$font-secondary;
      font-size: var.$font-size-lg;
      font-weight: 400;
      letter-spacing: 5px;
      text-transform: uppercase;
      margin-bottom: 25px;

      @include var.respond(sm) {
        font-size: var.$font-size-xs;
        letter-spacing: 5px;
      }

      @include var.respond(md) {
        font-size: var.$font-size-sm;
      }

      @include var.respond(lg) {
        font-size: var.$font-size-md;
        letter-spacing: 3px;
        margin-bottom: 20px;
      }

      &--underline {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: -15px;
          left: 0;
          right: 0;
          height: 2px;
          width: 68.1%;
          background-color: var.$color-dark-red;
          transition: width 0.5s ease;

          @include var.respond(sm) {
          }

          @include var.respond(md) {
          }

          @include var.respond(lg) {
            bottom: -12px;
            width: 45.5%;
          }
        }
      }
    }

    &__paragraph {
      font-weight: 100;
      font-size: var.$font-size-sm;
      margin-bottom: 5px;

      @include var.respond(sm) {
      }

      @include var.respond(md) {
      }

      @include var.respond(lg) {
        font-size: 20px;
        font-weight: 200;
        margin-bottom: 3px;
      }

      &--small {
        font-weight: 100;
        font-size: var.$font-size-xs;
        margin-bottom: 0;

        @include var.respond(sm) {
        }

        @include var.respond(md) {
        }

        @include var.respond(lg) {
          font-size: 16px;
          font-weight: 200;
        }
      }
    }

    &:hover .visiting-card__title--underline::after {
      width: 100%;
    }
  }
}
