@use '../base/variables' as var;

.welcome-pagination {
  z-index: 3;
  width: 600px;
  height: 120px;
  margin-right: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var.$color-bg-dark;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 75px;
  font-size: var.$font-size-sm;
  color: var.$color-white;

  @include var.respond(lg) {
    width: 700px;
    font-size: 20px;
    padding: 0 75px 0 225px;
  }

  @include var.respond(md) {
    width: 100%;
    position: static;
    order: 3;
    height: 100px;
    padding: 0 22.5%;
    flex-wrap: wrap;
    margin-right: 0;
  }

  @include var.respond(sm) {
    font-size: 16px;
    height: 80px;
    padding: 0 19.5%;
  }

  &__nums {
    text-transform: uppercase;
    display: flex;
    justify-content: start;
    gap: 10px;

    @include var.respond(sm) {
      gap: 6px;
    }
  }

  &__carousel {
    display: flex;
    justify-content: space-around;
    gap: 25px;

    @include var.respond(sm) {
      gap: 10px;
    }
  }

  &__slide {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background-color: var.$color-white;
    @include var.transition;

    /*  &:hover {
      background-color: #d2b183;
    } */

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: #d2b183;
      }
    }

    &--active {
      pointer-events: none;
      background-color: #d2b183;
    }

    @include var.respond(lg) {
      width: 12px;
      height: 12px;
    }

    @include var.respond(sm) {
      width: 7px;
      height: 7px;
    }
  }

  &__arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    height: 8px;

    @include var.respond(sm) {
      width: 55px;
      height: 8px;
    }

    .slider-arrow {
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.3s;
      color: var.$color-white;
      @include var.transition;

      &__icon {
        width: 30px;
        height: 8px;

        @include var.respond(sm) {
          width: 20px;
          height: 8px;
        }
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          color: #d2b183;
        }
      }
    }
  }
}
