@use '../base/variables' as var;

.welcome-box {
  width: 598px;
  height: 388px;
  padding-top: 152px;
  color: var.$color-white;
  letter-spacing: 2px;

  @include var.respond(sm) {
    height: 365px;
  }

  @include var.respond(md) {
    height: 646px;
  }

  @include var.respond(lg) {
    padding-top: 50px;
    width: 445px;
    height: 343px;
  }

  &__paragraph {
    font-size: var.$font-size-md;
    margin-top: 26px;
    margin-bottom: 77px;

    @include var.respond(sm) {
    }

    @include var.respond(md) {
    }

    @include var.respond(lg) {
      font-size: 24px;
      margin-bottom: 48px;
    }
  }

  &__btn {
    font-size: var.$font-size-sm;
    font-weight: 300;
    color: var.$color-white;
    text-decoration: none;
    letter-spacing: 2px;
    background-color: var.$color-dark-red;
    border-radius: 10px;
    padding: 24px 66px;
    display: inline-block;
    @include var.transition;

    &:hover {
      background-color: var.$color-font-gold;
    }

    @include var.respond(sm) {
    }

    @include var.respond(md) {
    }

    @include var.respond(lg) {
      font-size: 20px;
      padding: 20px 45px;
      line-height: 100%;
    }
  }
}
