@use '../base/variables' as var;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;

  @include var.respond(lg) {
    width: 100%;
    max-width: 984px;
  }

  @include var.respond(md) {
    width: 100%;
    max-width: 728px;
  }

  @include var.respond(sm) {
    width: 100%;
    max-width: 380px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
