@use '../base/variables' as var;

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  /* font-size: 16px; */
  line-height: 175%;
}

.section-title {
  font-family: var.$font-secondary;
  font-size: var.$font-size-title-section;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 112.5%;

  @include var.respond(lg) {
    font-size: 50px;
    line-height: 180%;
  }

  @include var.respond(md) {
    font-size: 40px;
    line-height: 150%;
  }

  @include var.respond(sm) {
    font-size: 28px;
    line-height: 142.857%;
  }

  &--gold {
    color: var.$color-font-gold;
  }

  &--underline {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -27px;
      left: 0;
      right: 0;
      height: 3px;
      background-color: var.$color-dark-red;

      @include var.respond(lg) {
        bottom: -16px;
      }

      @include var.respond(md) {
        bottom: -23px;
      }
    }
  }
}

.title-tertiary {
  font-family: var.$font-primary;
  font-size: var.$font-size-md;
  font-weight: 700;

  @include var.respond(lg) {
  }

  &--font500 {
    font-weight: 500 !important;
    @include var.respond(lg) {
      font-size: 24px;
    }
    @include var.respond(lg) {
      font-size: 20px;
    }
  }
}

.paragraph {
  font-family: var.$font-primary;
  font-weight: 300;
  font-size: var.$font-size-sm;
  line-height: 175%;
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 0;
  }
}

.text-color-gold {
  color: var.$color-font-gold;
}
