@use '../base/variables' as var;

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  /* font-size: 16px; */
  line-height: 175%;
}

.section-title {
  font-family: var.$font-secondary;
  font-size: var.$font-size-title-section;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 112%;

  &--gold {
    color: var.$color-font-gold;
  }

  &--underline {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -27px;
      left: 0;
      right: 0;
      height: 3px;
      background-color: var.$color-dark-red;
    }
  }
}

.paragraph {
  font-family: var.$font-primary;
  font-weight: 300;
  font-size: var.$font-size-sm;
  line-height: 175%;
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 0;
  }
}
