$color-bg-dark: #030303;
$color-dark-red: #710707;
$color-font-gold: #9d8665;
$color-white: #fff;
$color-black: #000;

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Forum', serif;

$font-size-title-section: 80px;
$font-size-lg: 32px;
$font-size-md: 28px;
$font-size-sm: 22px;
$font-size-xs: 18px;

@mixin transition {
  transition: all 0.3s ease;
}

/* UTILITIES */
.u-margin-bottom-lg {
  margin-bottom: 103px;
}
